*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    align-content: center;
    width: 100%;
    background-color: #e6ecf2;
    color: white;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}
header{
    background-color: #272643;
    text-align: center;
    padding: 40px;
}

nav {
    float: left;
    width: 10%;
    background: #ccc;
    margin: 0.5%;
    border: solid 5px #272643;
    border-radius: 5px;
    margin-bottom: 100px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    display:block;
    padding: 10px;
    color: #272643;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
}
nav li {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
nav a:hover {
    color: #fbfbfc;
    background: #272643;;
}
article {
    float: left;
    padding: 20px;
    width: 88%;
    margin: 0.5%;
    color: #272643;
    background-color: #fbfbfc;

    margin-bottom: 100px;
    border-radius: 5px;
}

section{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}

footer {
    text-align: center;
    background-color: #272643;
    color: #fff;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}
form.p {
    text-align: left;
}
label{
    display:block;
}
textarea {
    height: 5rem;
    width: 20rem;
}

.left{
    float: left;
    padding-left: 30%;
}

.right{
    float: left;
    padding-left: 30px;
}

.error{
    color: red;
}

@media(max-width:768px) {
    header { padding: 30px 20px; }
    header h1 { font-size: 36px; margin-bottom: 22px; }
    header p { font-size: 18px; }
    main { width: 100vw; padding: 20px; }
    article { margin-bottom: 16px; font-size: 14px; }
    article h3 { margin: 10px 0 20px 0; }
    article p { margin-top: 16px; line-height: 20px; }
}